<div>
{% if record.sendynl_shipment_id %}
    {% if record.sendynl_package_ids %}
        {% set package_ids = record.sendynl_package_ids|split(',') %}
        {% set tracking_numbers = record.sendynl_tracking_numbers|split(',') %}

        <ul class="list-unstyled">
            {% for index, package_id in package_ids %}
                <li>
                    <a href="{{ column.options.sendynl_view_package_url|format(package_id) }}" target="_blank" style="text-decoration: underline;">
                        {{ tracking_numbers[index] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <a href="{{ column.options.sendynl_edit_shipment_url|format(record.sendynl_shipment_id) }}" target="_blank" style="text-decoration: underline;">
            {{ 'Edit shipment'|trans({}, 'Modules.Sendynl.Admin') }}
        </a>
    {% endif %}
{% else %}
    {{ 'No shipment created yet'|trans({}, 'Modules.Sendynl.Admin') }}
{% endif %}
</div>
